<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Descripción de usuarios')"></head>

<!-- Navbar -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">ToDoList <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/registro}">Registro</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Navbar -->

<body>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Descripción de usuario'"></h2>
        </div>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Fecha de nacimiento</th>
        </tr>
        <tr>
            <td th:text="${usuarios.id}"></td>
            <td th:text="${usuarios.nombre}"></td>
            <td th:text="${usuarios.email}"></td>
            <td th:text="${usuarios.fechaNacimiento}"></td>
        </tr>
    </table>
</div>

</body>
</html>
