<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head (titulo='Acerca de')"></head>

<!-- Navbar -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">ToDoList <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Tareas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/registrados}">Registrados</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${usuario.nombre}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Cuenta</a>
                        <a class="dropdown-item" href="/logout" th:text="'Cerrar sesión ' + ${usuario.nombre}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Navbar -->

<body>
    <form method="post" th:action="@{/equipos/nuevo}" th:object="${equipoData}">
        <div class="col-6">
            <div class="form-group">
                <label for="titulo">Nombre del equipo:</label>
                <input class="form-control" id="titulo" name="titulo" required th:field="*{titulo}" type="text"/>
            </div>
            <button class="btn btn-primary" type="submit">Crear equipo</button>
            <a class="btn btn-link" th:href="@{/equipos}">Cancelar</a>
        </div>
    </form>

    <div th:replace="fragments::javascript"/>


</body>
</html>