<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista de equipos')"></head>

<!-- Navbar -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/about">ToDoList <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/usuarios/{id}/tareas(id=${usuario.id})}">Tareas</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/registrados}">Registrados</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/equipos}">Equipos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       th:text="${usuario.nombre}">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Cuenta</a>
                        <a class="dropdown-item" href="/logout" th:text="'Cerrar sesión ' + ${usuario.nombre}"></a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
<!-- Navbar -->

<div class="container-fluid">
    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Listado de equipos'"></h2>
        </div>
    </div>

    <a class="btn btn-primary" href="/equipos/nuevo">Crear nuevo equipo</a>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="equipo: ${equipos}">
                    <td th:text="${equipo.id}"></td>
                    <td>
                        <a th:href="@{/equipos/{id}(id=${equipo.id})}"
                           th:text="${equipo.nombre}"></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>